nav {
    background: rgba(0, 0, 0, 0.3);
    width: 80%; /* Set the initial width as a percentage */
    /* max-width: 600px; Set a maximum width if needed */
    margin: 0 auto; /* Center the nav on the screen */
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    border-radius: 3rem;
    backdrop-filter: blur(15px);
  }
  
  @media (max-width: 768px) {
     nav {
      width: 100%; 
      /* display: none; */
     }
    
    #nav-menu {
        flex-direction: row;
        align-items: stretch;
        display: none;
        
      }
    
      /* .nav-item {
        width: 10%;
      } */
    }
  
  #nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #333;
    /* padding: 10px; */
  }
  .nav-item {
    text-decoration: none;
    color: #fff;
    /* margin: 5px; */
  }
  
/* nav:hover #nav-menu{
    filter:blur(5px)
}
nav:hover #nav-menu:hover{
    filter:blur(0px)
}
#nav-menu{
    display: block;
    transition: 0.5s;
} */
nav a{
    background: transparent;
    padding: 0.7rem;
    border-radius: 50%;
    display: flex;
    color: var(--color-light);
    font-size: 1.1rem;
}
nav a:hover{
    background: rgba(0,0,0,0.3);
}

nav a.active {
    background: var(--color-bg);
    color: var(--color-white);
   
}
